<%= render 'layouts/identifier' %>
<h1>Create New Chart</h1>

<%= link_to "Back to Chart", regi_charts_path, class:"btn btn-info" %>

<% if defined?(Chart.where(regi_id: params[:regi_id]).last.id) %>
  <%= render 'add' %>
<% else %>
  <%= render 'form' %>
<% end %>



