<h1 class="text-center">Edit Patient</h1>
<%= render 'layouts/identifier' %>

<div>
<%= link_to 'Patient Information', regi_patients_path(@patient.regi), class:'btn btn-info btn-sm' %>
<div>
<br>
<div>
<%= render 'form' %>
</div>


