<h1 class="text-center">New Record</h1>
<%= render 'layouts/identifier' %>

<%= link_to "Patient Info", regi_patients_path, class:"btn btn-info" %>

<% if defined?(Patient.where(regi_id: params[:regi_id]).last.id) %>
  <%= render 'add' %>
<% else %>
  <%= render 'form' %>
<% end %>

